* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .birthdaydiv
  {
      padding: 4%;
      font-size: 40px;
      color: rgb(255, 255, 255);
      background-color: rgb(10, 119, 243);
  }
  h1,form{
      text-align: center;
  }
  input[type=text]
  {
      width: 20%;
      padding: 10px 20px;
  }
  
  .button {
    background-color: #a8c2ca; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  
  .Tablelist
  {
    margin: auto;
    width: 80%; 
    padding: 10px; 
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;  
  }

 td, th { 
    padding: 8px;
    text-align: center;
  }
  
   tr:nth-child(even) {
    background-color: #c3dfe6;
  }

  
 
  
 
